<nav>
  <div class="fsa-nav-global">
    <div class="fsa-nav-global__bd">
      <ul class="fsa-nav-global__list" aria-label="Primary Navigation" id="primary-navigation">
        <!-- Menu Item 1 -->
        <li class="fsa-nav-global__list-item">
          <a class="fsa-nav-global__link {{ NAV1_ACTIVE }}" href="index.html" aria-current="page">
            <span class="fsa-nav-global__text">Home</span>
          </a>
        </li>
        <!-- Menu Item 2 -->
        <li class="fsa-nav-global__list-item">
          <a class="fsa-nav-global__link {{ NAV2_ACTIVE }}" href="new-contract-general-information.html">
            <span class="fsa-nav-global__text">New Contract</span>
          </a>
        </li>
        
        <li class="fsa-nav-global__list-item">

          <button class="fsa-nav-global__link {{ NAV3_ACTIVE }} fsa-nav-global__link--has-sub-menu" type="button" aria-expanded="false" aria-controls="UNIQUE-ID-593945">
            <span class="fsa-nav-global__text" id="UNIQUE-ID-123456789">Demo Nav One</span>
          </button>

          <div class="fsa-nav-global__sub-menu" id="UNIQUE-ID-593945" aria-hidden="true">

            <div class="fsa-nav-global__sub-menu-bd">
              <ul class="fsa-nav-global__sub-menu-list" aria-labelledby="UNIQUE-ID-123456789">
                <li class="fsa-nav-global__sub-menu-item">
                  <a class="fsa-nav-global__sub-menu-link" href="new-contract-coverage-level.html">CO - One Table</a>
                </li>
                <li class="fsa-nav-global__sub-menu-item">
                  <a class="fsa-nav-global__sub-menu-link" href="new-contract-coverage-level2.html">CO - Grouped by Tier</a>
                </li>
              </ul>
            </div>

          </div>

        </li>

        <li class="fsa-nav-global__list-item">

          <button class="fsa-nav-global__link {{ NAV4_ACTIVE }} fsa-nav-global__link--has-sub-menu" type="button" aria-expanded="false" aria-controls="UNIQUE-ID-593945">
            <span class="fsa-nav-global__text" id="UNIQUE-ID-123456789">Demo Nav Two</span>
          </button>

          <div class="fsa-nav-global__sub-menu" id="UNIQUE-ID-593945" aria-hidden="true">

            <div class="fsa-nav-global__sub-menu-bd">
              <ul class="fsa-nav-global__sub-menu-list" aria-labelledby="UNIQUE-ID-123456789">
                <li class="fsa-nav-global__sub-menu-item">
                  <a class="fsa-nav-global__sub-menu-link" href="new-contract-summary.html">Summary - Table</a>
                </li>
                <li class="fsa-nav-global__sub-menu-item">
                  <a class="fsa-nav-global__sub-menu-link" href="new-contract-summary2.html">Summary - Column Boxes</a>
                </li>
                <li class="fsa-nav-global__sub-menu-item">
                  <a class="fsa-nav-global__sub-menu-link" href="new-contract-summary3.html">Summary - C/D</a>
                </li>
              </ul>
            </div>

          </div>

        </li>

        <li class="fsa-nav-global__list-item">

          <button class="fsa-nav-global__link {{ NAV5_ACTIVE }} fsa-nav-global__link--has-sub-menu" type="button" aria-expanded="false" aria-controls="UNIQUE-ID-593949">
            <span class="fsa-nav-global__text" id="UNIQUE-ID-123456781">Demo Nav Three</span>
          </button>

          <div class="fsa-nav-global__sub-menu" id="UNIQUE-ID-593949" aria-hidden="true">

            <div class="fsa-nav-global__sub-menu-bd">
              <ul class="fsa-nav-global__sub-menu-list" aria-labelledby="UNIQUE-ID-123456781">
                <li class="fsa-nav-global__sub-menu-item">
                  <a class="fsa-nav-global__sub-menu-link" href="new-contract-remittance.html">RI- Columns</a>
                </li>
                <li class="fsa-nav-global__sub-menu-item">
                  <a class="fsa-nav-global__sub-menu-link" href="new-contract-remittance2.html">RI - Sections</a>
                </li>
              </ul>
            </div>

          </div>

        </li>
      </ul>
    </div>
  </div>
</nav>
